[flake8]
max-line-length = 150
max-complexity = 16
# B = bugbear
# B9 = bugbear opinionated (incl line length)
select = C,E,F,W,B,B9
# E203: whitespace before ':' (black behaviour)
# E501: flake8 line length (covered by bugbear B950)
# W503: line break before binary operator (black behaviour)
ignore = E203,E501,W503,E126,E262,E261,E266,C901,W504,F523,F524,E121,E128,F402,W605,B950,B006,B007,E231,E8103,
